{# src/Ficep/PlanningBundle/Resources/views/Machine/list.html.twig #}

<!DOCTYPE html>

<html>
	<head>
		<title>Liste des machines</title>
	</head>
	<body>
		{% if app.session.flashbag.has('notice') %}
			{{ app.session.flashbag.get('notice')[0] }}
			<br />
		{% endif %}
		{% if page > 0 %}
			liste de machines
		{% endif %}
		{% for machine in machines %}
			{% if page > 0 %}
				<br />
				{{ machine.mat }} {{ machine.type }} 
				<a href="{{ path('ficep_planning_deleteMachine', {'id' : machine.id}) }}">remove</a> 
				<a href="{{ path('ficep_planning_editMachine', {'id' : machine.id}) }}">edit</a>
				<a href="{{ path('ficep_planning_listMachine', {'id' : machine.id}) }}">show</a>
			{% else %}
				affichage détails machine
				<br />
				{{ machine.mat }} 
				<br />
				{{ machine.type }} 
			{% endif %}
						
		{% endfor %}
		
		<br />
		{% if page > 0 %}
			{% for p in range(1, nbPages) %}
			&nbsp;
			<a href="{{ path('ficep_planning_listMachine', {'id' : 'all', 'page' : p })}}"> {{ p }}</a>
			
			{% endfor %}
		{% endif %}
	</body>
</html>