<!DOCTYPE html>

<html>
	<head>
		<title>Liste des clients</title>
	</head>
	<body>
		{% if app.session.flashbag.has('notice') %}
			{{ app.session.flashbag.get('notice')[0] }}
		{% endif %}
		
		{% for custommer in custommers %}
			{% if page > 0 %}
				<br />
				{{ custommer.name }} {{ custommer.adress }} {{ custommer.zip }} {{ custommer.town }} {{ custommer.phone }}
				<a href="{{ path('ficep_planning_deleteCustommer', {'id' : custommer.id}) }}">remove</a> 
				<a href="{{ path('ficep_planning_editCustommer', {'id' : custommer.id}) }}">edit</a>
	
			{% else %}
				{{ custommer.name }}
				<br />
				{{ custommer.adress }}
				<br />
				{{ custommer.zip }} {{ custommer.town }}
				<br />
				{{ custommer.phone }}
				<br />
				{% for machine in custommer.machines %}
					{{machine.mat}}
				{% endfor %}
			{% endif %}
		{% endfor %}
		{% if page > 0 %}
			<br />
			{% for p in range(1, nbPages) %}
				&nbsp;
				<a href="{{ path('ficep_planning_listCustommer', {'id' : 'all', 'page' : p })}}"> {{ p }}</a>
			{% endfor %}
		{% endif %}
	</body>
</html>